# Entornos virtuales (No queremos subir miles de archivos de Python)
venv/
.venv/
env/

# Archivos temporales de macOS (Basura del sistema)
.DS_Store

# Archivos temporales de Python
__pycache__/
*.pyc

# Archivos de configuración de Cursor/VSCode (Opcional)
.vscode/
.cursor/